/* Set the website width to be wider */
/* .md-grid { */
/*     max-width: 1440px; */
/* } */
.md-grid {
    max-width: 95%;
}

/* Add the matching padding they forgot at the bottom of the page */
.md-main__inner {
    margin-bottom: 1.5rem;
}

/* Workaround for them using :first-child in the header topic for no good reason */
.md-header__topic {
    font-weight: 700;
}

/* Make headings stand out more */
.md-typeset h1 {
    font-weight: 700;
    color: var(--md-typeset-color);
}
.md-typeset h2 {
    font-weight: 700;
    border-bottom: 2px solid var(--md-typeset-color);
    padding-bottom: 4px;
}
.md-typeset h3 {
    font-weight: 700;
}
.md-typeset h4 {
    font-weight: 700;
}
.md-typeset h5 {
    font-weight: 700;
}

/* Make links in main text underlined so you actually know they're clickable */
.md-typeset a {
    text-decoration: underline;
}
.md-typeset a:hover {
    text-decoration: none;
}

/* Also make the "more on this page" text underlined so you know it's clickable */
.md-search-result__more summary div {
    text-decoration: underline;
}

:root {
    --md-text-font: "Roboto";
    --md-code-font: "Roboto Mono";
}

/* Implement a highlight behind search results instead of changing text color */
.md-search-result mark {
    color: var(--md-default-fg-color--light);
    text-decoration: none;
    background-color: var(--md-search-highlight-color);
}

/* 色彩定義：亮色與暗色主題 */
[data-md-color-scheme="slate"] {
    --md-default-fg-color: #f8f8f2;
    /* --md-default-fg-color--light: #f3f1f1c0; */
    --md-typeset-color: #f8f8f2;
    /* --md-typeset-a-color: #d63826; */
    /* --md-search-highlight-color: #57160f; */
}

[data-md-color-scheme="binja"] {
    --md-default-fg-color: #1b1818;
    /* --md-default-fg-color--light: #1b1818c0; */
    --md-typeset-color: #1b1818;
    /* --md-typeset-a-color: #d63826; */
    /* --md-search-highlight-color: #ebe1e0; */
}
